<%- include('../layout/header') %>
  <div class="panel panel-default">
	  <div class="panel-heading">Panel heading without title</div>
	  <div class="panel-body"> Panel content</div>
	  <div class="panel-footer clearfix"><span class="text-muted marin10">2018-06-06</span><span class="marin10 text-muted">浏览(10)</span><span class="marin10 text-muted">评论(100)</span><span class="marin10 caret"></span> </div>
	</div>
<%- include('../layout/footer') %>